<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>DADOS DA EMPRESA EMITENTE</strong>
            <small></small>
          </div>
          <form (submit)="buscarEmitente()" [formGroup]="formEmitente">
          <div class="card-body">
            <div class="form-group">
                <div class="row">
                    <input type="text" class="form-control" id="id"  formControlName="id" hidden> 
                    <div class="form-group col-sm-6">
                      <label for="Cadastros">RAZÃO SOCIAL</label>
                      <input type="text" class="form-control" id="nomeEmitente" formControlName="nomeEmitente" >
                    </div>
                    <div class="form-group col-sm-6">
                      <label for="postal-code">CNPJ</label>
                      <input type="text" class="form-control" id="cnpjEmitente" formControlName="cnpjEmitente"  >
                    </div>
                  </div><!--/.row-->
            </div>
            <div class="form-group">
              <div class="row">
                <div class="form-group col-sm-6">
                    <label for="Cadastros">LOGRADOURO</label>
                    <input type="text" class="form-control" id="logradouroEmitente" formControlName="logradouroEmitente"  >
                  </div>
                  <div class="form-group col-sm-2">
                    <label for="Cadastros">NUMERO</label>
                    <input type="text" class="form-control" id="numero_emitente" formControlName="numero_emitente"  >
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="postal-code">COMPLEMENTO</label>
                    <input type="text" class="form-control" id="complementoEmitente" formControlName="complementoEmitente" >
                  </div>
                </div><!--/.row-->
          </div>
          <div class="form-group">
            <div class="row">
                <div class="form-group col-sm-4">
                  <label for="Cadastros">BAIRRO</label>
                  <input type="text" class="form-control" id="bairroEmitente" formControlName="bairroEmitente"  >
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">CEP</label>
                  <input type="text" class="form-control" id="cepEmitente" formControlName="cepEmitente" >
                </div>
                <div class="form-group col-sm-4">
                  <label for="postal-code">TELEFONE</label>
                  <input type="password" class="form-control" id="telefoneEmitente" formControlName="telefoneEmitente">
                </div>
              </div><!--/.row-->
        </div>
        <div class="form-group">
            <div class="row">
                <div class="form-group col-sm-6">
                  <label for="Cadastros">EMAIL</label>
                  <input type="text" class="form-control" id="emailEmitente" formControlName="emailEmitente"  >
                </div>
                <div class="form-group col-sm-6">
                  <label for="postal-code">LOGOMARCA</label>
                  <input type="text" class="form-control" id="logoEmitente" formControlName="logoEmitente" >
                </div>
              </div><!--/.row-->
        </div>
          </div>
          
          <div class="card-footer">
            <button  type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> EDITAR</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> VOLTAR</button>
          </div>
        </form>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
