<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>DADOS DO EMITENTE</strong>
          <small></small>
        </div>

        
            <h4 class="panel-title">{{ emitente.razaoSocial }}</h4>
        
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3 col-lg-3 "> <img alt="User Pic" src="../../../assets/img/avatars/brasao.png" class="img-circle img-responsive"> </div>
              
              <div class=" col-md-9 col-lg-9 "> 
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>CNPJ:</td>
                      <td>{{ emitente.cnpj}}</td>
                    </tr>
                    <tr>
                      <td>LOGRADOURO:</td>
                      <td>{{ emitente.endereco.logradouro }}</td>
                    </tr>
                    <tr>
                      <td>NUMERO:</td>
                      <td>{{ emitente.endereco.numero }}</td>
                    </tr>
                       <tr>
                           <tr>
                      <td>BAIRRO:</td>
                      <td>{{ emitente.endereco.bairro }}</td>
                    </tr>
                      <tr>
                      <td>CEP:</td>
                      <td>{{ emitente.endereco.cep }}</td>
                    </tr>
                    <tr>
                      <td>EMAIL:</td>
                      <td>{{ emitente.email }}</td>
                    </tr>
                      <td>TELEFONE: </td>
                      <td>{{ emitente.telefone }}</td>
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        
        <div class="card-footer">
          <button  type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> EDITAR</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> VOLTAR</button>
        </div>
     
    </div><!--/.col-->
  </div><!--/.row-->